<link rel="stylesheet" href="/gigaBankClient/public/login.css">
<h1>OLLA</h1>
<form method="POST" action="/gigaBankClient/login/check">
    <label for="agencia">Agência</label>
    <input type="tel" name="agencia" class="field" id="agencia">

    <label for="conta">Número da Conta</label>
    <input type="tel" name="conta" class="field" id="conta">

    <label for="">Senha</label>
    <input type="password" name="senha" class="field" id="senha">

    <input type="submit" name="enviar" value="Acessar" class="field btn" id="acessar">
</form>

