
<nav class="menu">
    <ul>
        <a href="/BancoHorizonClient/conta">
            <img class="logo" src="/BancoHorizonClient/public/img/logo.png">
        </a>
        <a href="/BancoHorizonClient/conta">
            <li>Início</li>
        </a>
        <a href="/BancoHorizonClient/MinhaConta">
            <li>Minha Conta</li>
        </a>
        <a href="/BancoHorizonClient/conta/pagamento">
                <li>Pagamentos</li>
        </a>
        <a href="/BancoHorizonClient/conta/transferencia">
            <li>Transferências</li>
        </a>
        <a href="/BancoHorizonClient/conta/boleto">
            <li>Depósito por Boleto</li>
        </a>
        <a href="/BancoHorizonClient/conta/extrato">
            <li>Ver Extrato</li>
        </a>
        <a href="/BancoHorizonClient/conta/cartao">
            <li>Cartão de Crédito</li>
        </a>
        <a href="/BancoHorizonClient/login/logout">
            <li>Sair</li>
        </a>
        
    </ul>
</nav>

<button class="menuBtn">></button>

