
<nav class="menu">
    <ul>
        <a href="/BancoHorizonClient/conta">
            <img class="logo" src="/BancoHorizonClient/public/img/logo.png">
        </a>
        <a href="/BancoHorizonClient/conta/pagamento">
                <li>Pagamentos</li>
        </a>
        <a href="/BancoHorizonClient/conta/transferencia">
            <li>Transferências</li>
        </a>
        <a href="/BancoHorizonClient/conta/boleto">
            <li>Depósito por Boleto</li>
        </a>
        <a href="/BancoHorizonClient/conta/extrato">
            <li>Ver Extrato</li>
        </a>
        <a href="/BancoHorizonClient/conta/cartao">
            <li>Cartão de Crédito</li>
        </a>
        
        
    </ul>
    <div class="cartao">
        <a href="/BancoHorizonClient/login/logout">Sair</a>
    </div>
</nav>

