<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/BancoHorizonClient/public/img/logoR.png" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
        <title>{{titulo}}</title>
        <link rel="stylesheet" href="/BancoHorizonClient/public/style.css">
        <link rel="stylesheet" href={{css}}>
        
    </head>
    <body>
        {{menu | raw}}
        {{conteudo | raw}}
        <script src="{{script}}"></script>
    </body>
</html>